.nav-main {
  // position: relative;
}

.PrimaryMenu {
  margin-top: 2rem;

  &__Item {
    display: inline-block;
  } 

  &__NavItem {
    color: $white;
    position: relative;
    margin: 0 3%;

    .link {
      color: $white;
      font-size: $title-size-menu;
    }
  }

  &__NavItem:hover {
    color: $primary-color;
    
    .link {
      color: $primary-color;
    }
  }

  &__dropMenu {
    position: absolute;
    background-color: $white;
    width: 100%;
  }

  &__dropItem{
    color: $black;
    padding: 10%;

    .dropLink {
      color: $black;
    }
  }

  &__dropItem:hover {
    color: $primary-color;

    .dropLink {
      color: $primary-color;
    }
  }
}

.hiddenMenu {
    display: none;  
}

.bp-login-nav {
  border: 1px solid $white;
  padding: 1rem;
}

.bp-logout-nav {
  border: 1px solid $white;
  padding: 1rem;
}

.bp-login-nav:hover {
  border: 1px solid $primary-color;
}

.bp-logout-nav:hover {
  border: 1px solid $primary-color;
}

.is-scrolled {
  .PrimaryMenu {
    &__NavItem {
      color: $primary-color;

      .link {
        color: $primary-color;
        font-size: $title-size-menu;
      }
    }

    &__NavItem:hover {
      color: $secondary-color;
      
      .link {
        color: $secondary-color;
      }
    }
  }
}