.footer {
  height: auto;
  width: auto;
  background-color: $secondary-color;
  color: $primary-color;
  margin-top: 10%;
  padding: 2%;

  &__contact {

  }

  &__secMenu {

  }

  &__icons {
    padding: 5%;
  }
}